<div class="container">
  <div class="row">
    <div class="game-interface">

      <div class="images">
        <section>
          <img [src]="botImage">
        </section>
      </div>

      <p>VS</p>

      <div class="images">
        <section class="playerImg" (click)="toPlay(0)" *ngIf="this.movePlayer == undefined || this.movePlayer == 0">
          <img src="https://cdn-icons-png.flaticon.com/512/3172/3172747.png">
        </section>

        <section class="playerImg image-center" (click)="toPlay(1)" *ngIf="this.movePlayer == undefined || this.movePlayer == 1">
          <img src="https://images.vexels.com/media/users/3/145640/isolated/preview/a280e39f92cd30cd6181f08b1f4dca6b-earth-stone-rock-stone.png">
        </section>

        <section class="playerImg" (click)="toPlay(2)" *ngIf="this.movePlayer == undefined || this.movePlayer == 2">
          <img src="https://cdn-icons-png.flaticon.com/512/4229/4229057.png">
        </section>
      </div>

    </div>
  </div>
</div>
