<div class="container">
  <div class="row" style="justify-content: space-between;">
    <div class="col-3">
      <p>Player</p>
    </div>
    <div class="col-3">
      <p>Computer</p>
    </div>
  </div>

  <div class="row score">

    <div class="col-3 score-player">
      {{ scorePlayer }}
      <div class="point_player" *ngIf="this.countPlayer">+1</div>
    </div>
    <div class="col-6">
      <h3>
        SCORE
      </h3>
    </div>
    <div class="col-3 score-computer">
      {{ scoreComputer}}
      <div class="point_computer" *ngIf="this.countComputer">+1</div>
    </div>

  </div>
</div>
