.container{
  margin-top: 32px;

  p{
    text-align: center;
    font-size: 32px;
    margin: 0;
  }

  h3{
    padding: 18px 0;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 58px;
    margin: 0;
  }

  .score{
    background-color: #cccccc;
    border-radius: 28px;
  }

  .score-computer, .score-player{
    border: 8px solid white;
    color: white;
    border-radius: 28px;
    font-size: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .score-computer{
    background-color: #f26d6d;
  }

  .score-player{
    background-color: #6cd1f4;
  }
}


